*{
 padding: 0;
 margin: 0;
}

body{
 font-family: Helvetica, Arial, sans-serif;
 font-size:12px;
}

div{
  
}

.zone {
  float: left;
  width: 20%;
  margin: 15px;
  padding: 5px;
  border: 1px solid #888;
  background: #eef;
  height: 200px;
  text-align: center;
}

#stage {
  float: none;
  border: 1px solid #888;
  background: #efe;
  width: 66%;
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.temp_value
{
  font-size: 30px;
  font-weight: bold;
}

.temp_delta
{
  font-size: 30px;
  font-weight: bold;  
}

.temp_delta.up
{
  color: #f00;
}

.temp_delta.down
{
  color: #0f0;
}
.temp_delta.flat
{
  color: #88f;
}
